@import './_variables.scss';
@import './Item.module.scss';
@import './Items.module.scss';

.window {
    position: fixed;
    z-index: 2;
    background: #2980b9;
    background-attachment: fixed;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 80vw;
    top: 10vh;
    left: calc(50% - 40vw);
    font-size: calc(1rem + 0.5vw);
    padding: 1em;
    border: 2px solid black;
    border-radius: 0.5em;

    &__btn {
        @extend %btn-primary;
        white-space: nowrap;
        position: static;
        transform: translateX(0);
        font-size: calc(1rem + 0.1vw);
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;

        &Details {
            position: static;
            width: 100%;
        }
    }

    &__tasksDetails {
        height: 80vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__projectDescription,
    &__taskName {
        margin: 1rem 0;
    }

    &__priorityHigh {
        color: rgb(189, 14, 14);
    }

    &__priorityMed {
        color: rgb(202, 202, 16);
    }

    &__priorityLow {
        color: rgb(14, 192, 14);
    }

    &__message {
        @extend .item__message;
    }

    &__icon {
        position: absolute;
        top: 10px;
        font-size: calc(1rem + 1vw);
        right: 10px;
        color: #000000;
        cursor: pointer;
    }

    ol {
        padding-left: 1.5rem;
        list-style-type: initial;
    }
}

.tasks {
    margin: 0.8rem 0;
}

.detailsContent {
    padding: 0;
}

.alert {
    top: 75%;
    @extend .alert;
}