@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    background-image: $background-img;
    background-attachment: fixed;
    font-size: 16px;

    &::-webkit-scrollbar {
        width: 0.7rem;
    }
     
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0 / 77%);
        background-color: #7dd8ea;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: #4d4747;
    }
}

ul li{
    list-style: none;
    text-decoration: none;
    cursor: pointer;

    & > a {
        text-decoration: none;
        color: inherit;
    }
}

img {
    display: block;
    max-width: 100%;
}