@import './variables';

.item {
    word-wrap: break-word;
    min-width: calc(100vw / 5);
    padding: 0.5em;
    margin: 0.5em 1em;
    border: 2px solid black;
    border-radius: 0.5em;
    opacity: 0.6;
    transition: opacity 1s;
    background-color: #184d8eb8;
    font-size: calc(1rem + 0.5vw);
    position: relative;

    &:hover {
        opacity: 1;
    }

    &__btn {
        @extend %btn-primary;
        font-size: calc(1rem + 0.1vw);
        white-space: nowrap;
        position: static;
        transform: translateX(0);
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }

    &__priorityHigh {
        color: rgb(189, 14, 14);
    }

    &__priorityMed {
        color: rgb(202, 202, 16);
    }

    &__priorityLow {
        color: rgb(14, 192, 14);
    }

    &__message {
        background-color: #6b6b83a4;
        font-style: italic;
        letter-spacing: 1px;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0.3rem 1rem;
        font-size: calc(1.5rem + 0.5vw);
        z-index: 2;
    }

    ol {
        padding-left: 1.5rem;
        list-style-type: initial;
    }
}