@import './variables';
@import './Item.module.scss';

.itemAdd {
    position: fixed;
    background-color: #1d99c5;
    z-index: 3;
    background-attachment: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    margin: 1rem auto;
    width: 30vw;
    border-radius: 6px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);

    &__field {
        margin-bottom: 0.5rem;

        label {
            float: left;
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
            font-size: calc(0.8rem + 0.5vw);
        }

        legend {
            font-size: calc(0.8rem + 0.5vw);
        }

        input, textarea, select {
            display: block;
            font: inherit;
            border-radius: 6px;
            border: 1px solid #ccc;
            padding: 5px;
            width: 100%;
            border: none;
            outline: none;
            font-size: calc(0.6rem + 0.5vw);
            box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
            resize: none;
        }

        fieldset {
            border: none;
            text-align: left;
            height: 20vh;
            overflow: auto;
        }
    }

    &__btn {
        @extend %btn-primary;
        transform: translateX(0);
        left: 0;
        margin: calc(0.3em + 0.3vw);
    }

    &__checkbox {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 13fr;
        align-items: center;

        label {
            margin-bottom: 0;
            margin-top: 4px;
        }
    }

    &__buttons {
        text-align: center;
    }

    &__icon {
        position: absolute;
        top: 10px;
        font-size: calc(1rem + 1vw);
        right: 10px;
        color: #000000;
        cursor: pointer;
    }

    &__message {
        @extend .item__message;
    }
}

@media only screen and (max-width: 1300px) {
    .itemAdd {
        width: 40vw;
    }
}

@media only screen and (max-width: 850px) {
    .itemAdd {
        width: 45vw;
    }
}

@media only screen and (max-width: 650px) {
    .itemAdd {
        width: 55vw;

        &__checkbox {
            label {
                margin-left: 0.5rem;
                margin-top: 2px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .itemAdd {
        width: 65vw;
    }
}