@import './_variables.scss';

nav {
    width: 100%;
    max-height: 20vh;
    margin: 0 auto;
    flex: 1 1;
    display: flex;
    font-size: calc(1.2rem + 0.5vw);
    background: #6b6b83a4;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    & > ul {
        display: flex;
        justify-content: space-around;
        width: 100%;

        & > li {
            padding: 0.3rem;
            color: #240b36;
            letter-spacing: 1px;
            opacity: 0.7;
            transition: text-shadow 1s, letter-spacing 1s, opacity 1s;

            &:hover {
                letter-spacing: 3px;
                text-shadow: 4px 3px 6px #aa4b6b;
                opacity: 1;
            }
        }
    }
}