@import './_variables.scss';

.nav {
    font-size: calc(1.2rem + 0.5vw);
    background: #76334e6b;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &__menu {
        display: flex;
        justify-content: space-around;

        & > li {
            padding: 0.3rem 0.3rem 0 0.3rem;
            color: #240b36;
            letter-spacing: 1px;
            opacity: 0.7;
            transition: text-shadow 1s, letter-spacing 1s, opacity 1s;

            &:hover {
                letter-spacing: 3px;
                text-shadow: 4px 3px 6px #aa4b6b;
                opacity: 1;
            }
        }
    }
}