@import './variables';

.panel {
    height: 93vh;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        width: fit-content;
        margin: 0 auto;
    }

    &__btn {
        @extend %btn-primary;
        transform: translateX(0);
        left: 0;
        margin: calc(0.3em + 0.3vw);
        font-size: calc(1.2rem + 0.1vw);
        width: 20vw;
    }

    &__message {
        background-color: #6b6b83a4;
        font-style: italic;
        letter-spacing: 1px;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0.3rem 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .panel__buttons {
        grid-template-columns: 1fr 1fr;
    }

    .panel__btn {
        width: 30vw;
    }
}

@media only screen and (max-width: 650px) {
    .panel__btn {
        width: 40vw;
    }
}

@media only screen and (max-width: 480px) {
    .panel__buttons {
        grid-template-columns: 1fr;
    }

    .panel__btn {
        width: 60vw;
    }
}